In [11]:
import numpy as np
# A structured array
my_array = np.ones(3, dtype=([('foo', int), ('bar', float)]))
# Print the structured array
print(my_array['foo'])
print(my_array['bar'])

# A record array
my_array2 = my_array.view(np.recarray)
# Print the record array
print(my_array2.foo)
print(my_array2.bar)

[1 1 1]
[ 1.  1.  1.]
[1 1 1]
[ 1.  1.  1.]

In [5]:
import pandas as pd

data = np.array([['','Col1','Col2'],
                ['Row1',1,2],
                ['Row2',3,4]])
print(data)
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

[['' 'Col1' 'Col2']
 ['Row1' '1' '2']
 ['Row2' '3' '4']]
     Col1 Col2
Row1    1    2
Row2    3    4

In [15]:
# Take a 2D array as input to your DataFrame 
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(pd.DataFrame(my_2darray))

# Take a dictionary as input to your DataFrame 
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}
print(pd.DataFrame(my_dict))
my_test = {'a': ['1','3'],'b': ['4','5']}
print(pd.DataFrame(my_test))
                            
# Take a DataFrame as input to your DataFrame 
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['A'])
print(pd.DataFrame(my_df))

# Take a Series as input to your DataFrame
my_series = pd.Series({"United Kingdom":"London", "India":"New Delhi", "United States":"Washington", "Belgium":"Brussels"})
print(pd.DataFrame(my_series))

   0  1  2
0  1  2  3
1  4  5  6
   1  2  3
0  1  1  2
1  3  2  4
   a  b
0  1  4
1  3  5
   A
0  4
1  5
2  6
3  7
                         0
Belgium           Brussels
India            New Delhi
United Kingdom      London
United States   Washington

In [33]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))

# Use the `shape` property
print(df)
print(df.shape)

# Or use the `len()` function with the `index` property
print(len(df.index))
print(len(df.columns))
print(list(df.columns.values))
print(list(df.index.values))

print(df.iloc[1][1])

   0  1  2
0  1  2  3
1  4  5  6
(2, 3)
2
3
[0, 1, 2]
[0, 1]
5

In [42]:
my_test = {'A':[1,4,7],'B':[2,5,8],'C':[3,6,9]}
print(pd.DataFrame(my_test))
df = pd.DataFrame(my_test)
print(df.iloc[1][1])

# Using `iloc[]`
print(df.iloc[0][0])

# Using `loc[]`
print(df.loc[0]['A'])

# Using `at[]`
print(df.at[0,'A'])

# Using `iat[]`
print(df.iat[0,0])

# Using `get_value(index, column)`
print(df.get_value(0, 'A'))

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
5
1
1
1
1
1

In [47]:
# Use `iloc[]` to select a row
print(df.iloc[0])

# Use `loc[]` to select a column
print(df.loc[:,'A'])

A    1
B    2
C    3
Name: 0, dtype: int64
0    1
1    4
2    7
Name: A, dtype: int64

In [48]:
# Print out your DataFrame `df` to check it out
print(df)

# Set 'C' as the index of your DataFrame
df.set_index('C')

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   A  B
C
3  1  2
6  4  5
9  7  8

In [56]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2, 'A', 4], columns=[48, 49, 50])
print(df)

# Pass `2` to `loc`
print(df.loc[2])

# Pass `2` to `iloc`
print(df.iloc[2])

# Pass `2` to `ix`
print(df.ix[2])

   48  49  50
2   1   2   3
A   4   5   6
4   7   8   9
48    1
49    2
50    3
Name: 2, dtype: int64
48    7
49    8
50    9
Name: 4, dtype: int64
48    7
49    8
50    9
Name: 4, dtype: int64

/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  # This is added back by InteractiveShellApp.init_path()

In [58]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index= [2.5, 12.6, 4.8], columns=[48, 49, 50])
print(df)

# There's no index labeled `2`, so you will change the index at position `2`
df.ix[2] = [60, 50, 40]
print(df)

# This will make an index labeled `2` and add the new values
df.loc[2] = [11, 12, 13]
print(df)

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40
      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8   60  50  40
2.0   11  12  13

/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:5: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """

In [66]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])
print(df)
print(df['A'])
print(df.loc[1])
# Use `.index`
df['D'] = (4,5,6)

# Print `df`
print(df)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
0    1
1    4
2    7
Name: A, dtype: int64
A    4
B    5
C    6
Name: 1, dtype: int64
   A  B  C  D
0  1  2  3  4
1  4  5  6  5
2  7  8  9  6

In [161]:
df = pd.DataFrame(data=np.array([[1, 1, 2], [4, 5, 6]]), columns=['1', '2', '3'])
print(df)

# Append a column to `df`
df['D'] = (4,5)
df.loc[:, 'd'] = pd.Series(['5', '6'], index=df.index)

# Print out `df` again to see the changes
print(df)

   1  2  3
0  1  1  2
1  4  5  6
   1  2  3  D  d
0  1  1  2  4  5
1  4  5  6  5  6

In [81]:
df = pd.DataFrame(data=np.array([[1, 1, 2], [4, 5, 6], [7, 8, 9]]), index = [2.5,12.5,4.8], columns=['48', '49', '50'])

print(df)

# Use `reset_index()` to reset the values. 
df.reset_index(level=0,drop=True)

      48  49  50
2.5    1   1   2
12.5   4   5   6
4.8    7   8   9

   48  49  50
0   1   1   2
1   4   5   6
2   7   8   9

In [112]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [40, 50, 60], [23, 35, 37]]), 
                  index= [2.5, 12.6, 4.8, 4.8, 2.5], 
                  columns=[48, 49, 50])
print(df)
df1 = df.reset_index().drop_duplicates(subset='index', keep='last').set_index('index')
print(df1)
del df1.index.name
print(df1)
df.drop(df.index[[1]])

      48  49  50
2.5    1   2   3
12.6   4   5   6
4.8    7   8   9
4.8   40  50  60
2.5   23  35  37
       48  49  50
index
12.6    4   5   6
4.8    40  50  60
2.5    23  35  37
      48  49  50
12.6   4   5   6
4.8   40  50  60
2.5   23  35  37

     48  49  50
2.5   1   2   3
4.8   7   8   9
4.8  40  50  60
2.5  23  35  37

In [130]:
df = pd.DataFrame(data=np.array([[1, 2, 3,4], [4, 5, 6,5], [7, 8, 9,6], [40, 50, 60,7], [23, 35, 37,23]]), 
                  index= [2.5, 12.6, 4.8, 4.8, 2.5], 
                  columns=[48, 49, 50,50])
print(df)

# Drop the duplicates in `df`
df = df.drop_duplicates([48], keep='last')
print(df)

      48  49  50  50
2.5    1   2   3   4
12.6   4   5   6   5
4.8    7   8   9   6
4.8   40  50  60   7
2.5   23  35  37  23
      48  49  50  50
2.5    1   2   3   4
12.6   4   5   6   5
4.8    7   8   9   6
4.8   40  50  60   7
2.5   23  35  37  23

In [126]:
my_test = {'A':[1,4,7],'B':[2,5,8],'C':[3,6,9]}
print(pd.DataFrame(my_test))
df = pd.DataFrame(my_test)

# Check out the DataFrame `df`
print(df)

# Drop the column with label 'A'                  
df.drop('A', axis=1, inplace=True)
print(df)
# Drop the column at position 1
df1 = df.drop(df.columns[[0]], axis=1)
print(df1)
df2 = df1.drop(df1.index[[0]])
print(df2)
df2.reset_index(level=0, drop=True)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   B  C
0  2  3
1  5  6
2  8  9
   C
0  3
1  6
2  9
   C
1  6
2  9

   C
0  6
1  9

In [131]:
my_test = {'A':[1,4,7],'B':[2,5,8],'C':[3,6,9]}
print(pd.DataFrame(my_test))
df = pd.DataFrame(my_test)
print(df)
newcols = {
    'A': 'new_column_1', 
    'B': 'new_column_2', 
    'C': 'new_column_3'
}

# Use `rename()` to rename your columns
df.rename(columns=newcols, inplace=False)
print(df)
# Rename your index
df.rename(index={1: 'a'})

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

   A  B  C
0  1  2  3
a  4  5  6
2  7  8  9

In [134]:
my_test = {'Student1':['OK','Awful','Acceptable'],'Student2':['Perfect','Awful','OK'],'Student3':['Acceptable','Perfect','Poor']}
df = pd.DataFrame(my_test)    
print(df)

# Replace the strings by numerical values (0-4)
df.replace(['Awful', 'Poor', 'OK', 'Acceptable', 'Perfect'], [0, 1, 2, 3, 4])

     Student1 Student2    Student3
0          OK  Perfect  Acceptable
1       Awful    Awful     Perfect
2  Acceptable       OK        Poor

   Student1  Student2  Student3
0         2         4         3
1         0         0         4
2         3         2         1

In [137]:
my_test = {0:['1\n','4','7'],1:['2','5','8\n'],2:['3\n','6\n','9']}
df = pd.DataFrame(my_test)    
print(df)

# Replace strings by others with `regex`
df.replace({'\n': '<br>'}, regex=True)

     0    1    2
0  1\n    2  3\n
1    4    5  6\n
2    7  8\n    9

       0      1      2
0  1<br>      2  3<br>
1      4      5  6<br>
2      7  8<br>      9

In [151]:
#my_test = {'class':[1,4,7],'test':[2,5,8],'result':['+3b','-6B','+9A']}
#df = pd.DataFrame(my_test)
df = pd.DataFrame(data=np.array([[1,2,'+3b'], [4,5,'-6B'], [7,8,'+9A']]), 
                  columns= ['class', 'test', 'result'] 
                  ) 
print(df)

# Delete unwanted parts from the strings in the `result` column
df['result'] = df['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

# Check out the result again
df

  class test result
0     1    2    +3b
1     4    5    -6B
2     7    8    +9A

  class test result
0     1    2      3
1     4    5      6
2     7    8      9

In [179]:
df = pd.DataFrame(data=np.array([[34,0,'23:44:55'], [22,0,'66:77:88'], [19,1,'43:68:05 56:34:12']]), 
                  columns= ['Age', 'PlusOne', 'Ticket'] 
                  ) 
# Inspect your DataFrame `df`
print(df)

# Split out the two values in the third row
# Make it a Series
# Stack the values
ticket_series = df['Ticket'].str.split(' ').apply(pd.Series, 1)
print(ticket_series)
ticket_series = df['Ticket'].str.split(' ').apply(pd.Series, 1).stack()
print(ticket_series)
# Get rid of the stack:
# Drop the level to line up with the DataFrame
ticket_series.index = ticket_series.index.droplevel(-1)
#print(ticket_series)
# Make your series a dataframe 
ticketdf = pd.DataFrame(ticket_series)
print(ticketdf)
# Delete the `Ticket` column from your DataFrame
del df['Ticket']

# Join the ticket DataFrame to `df`
df = df.join(ticketdf)
print(df)
newcols = {
    0: 'ticket'
}
# Use `rename()` to rename your columns
df.rename(columns=newcols, inplace=True)

# Check out the new `df`
print(df)

  Age PlusOne             Ticket
0  34       0           23:44:55
1  22       0           66:77:88
2  19       1  43:68:05 56:34:12
          0         1
0  23:44:55       NaN
1  66:77:88       NaN
2  43:68:05  56:34:12
0  0    23:44:55
1  0    66:77:88
2  0    43:68:05
   1    56:34:12
dtype: object
          0
0  23:44:55
1  66:77:88
2  43:68:05
2  56:34:12
  Age PlusOne         0
0  34       0  23:44:55
1  22       0  66:77:88
2  19       1  43:68:05
2  19       1  56:34:12
  Age PlusOne    ticket
0  34       0  23:44:55
1  22       0  66:77:88
2  19       1  43:68:05
2  19       1  56:34:12

In [195]:
my_test = {'A':[1,4,7],'B':[2,5,8],'C':[3,6,9]}
print(pd.DataFrame(my_test))
df = pd.DataFrame(my_test)
print(df)
doubler = lambda x: x*2
# Apply the `doubler` function to the `A` DataFrame column
df1 = pd.DataFrame(df['A'].apply(doubler))
print(df1)
df1 = df.loc[0].apply(doubler)
#df1 = pd.DataFrame(df.loc[0].apply(doubler))
print(df1)
df1 = df.applymap(doubler)
print(df1)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
    A
0   2
1   8
2  14
A    2
B    4
C    6
Name: 0, dtype: int64
    A   B   C
0   2   4   6
1   8  10  12
2  14  16  18

In [229]:

def doubler(x):
    if x % 2 == 0:
        return x
    else:
        return x * 2
my_test = {'A':[1,4,7],'B':[2,5,8],'C':[3,6,9]}
print(pd.DataFrame(my_test))
df = pd.DataFrame(my_test)

# Use `applymap()` to apply `doubler()` to your DataFrame
df1 = df.applymap(doubler)

# Check the DataFrame
print(df1)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
    A   B   C
0   2   2   6
1   4  10   6
2  14   8  18

In [199]:
df = pd.DataFrame(np.nan, index=[0,1,2,3], columns=['A','B'])
print(df)

    A   B
0 NaN NaN
1 NaN NaN
2 NaN NaN
3 NaN NaN

In [247]:
#dateparse = lambda x: pd.datetime.strptime(x, '%m/%d/%y')
pd.read_csv('./perm_visa.csv', parse_dates=['case_received_date'])
#pd.read_csv('./perm_visa.csv', parse_dates=['case_received_date'], date_parser=dateparse)
pd.read_csv('./perm_visa.csv')

,add_these_pw_job_title_9089,agent_city,agent_firm_name,agent_state,application_type,case_no,case_number,case_received_date,case_status,class_of_admission,...,ri_pvt_employment_firm_to,ri_us_workers_considered,schd_a_sheepherder,us_economic_sector,wage_offer_from_9089,wage_offer_to_9089,wage_offer_unit_of_pay_9089,wage_offered_from_9089,wage_offered_to_9089,wage_offered_unit_of_pay_9089
0,NaN,Lawrenceville,"US Mantech, Inc.",GA,NaN,NaN,A-15296-31989,10/23/15,Certified-Expired,Not in USA,...,NaN,NaN,N,NaN,10.53,NaN,Hour,NaN,NaN,NaN
1,NaN,Lawrenceville,"US Mantech, Inc.",GA,NaN,NaN,A-15296-31990,10/23/15,Certified-Expired,Not in USA,...,NaN,NaN,N,NaN,10.53,NaN,Hour,NaN,NaN,NaN
2,NaN,Lawrenceville,"US Mantech, Inc.",GA,NaN,NaN,A-15296-31991,10/23/15,Certified-Expired,Not in USA,...,NaN,NaN,N,NaN,10.53,NaN,Hour,NaN,NaN,NaN
3,NaN,Lawrenceville,"US Mantech, Inc.",GA,NaN,NaN,A-15296-31992,10/23/15,Certified-Expired,Not in USA,...,NaN,NaN,N,NaN,9.50,NaN,Hour,NaN,NaN,NaN
4,NaN,Raleigh,"Law Offices of Paul A. Suhr, PLLC",NC,NaN,NaN,A-15297-32049,10/24/15,Certified-Expired,F-2,...,NaN,NaN,N,NaN,18366.00,NaN,Year,NaN,NaN,NaN

In [250]:
# Import pandas
import pandas as pd

products = pd.DataFrame({'category': ['Cleaning', 'Cleaning', 'Entertainment', 'Entertainment', 'Tech', 'Tech'],
                        'store': ['Walmart', 'Dia', 'Walmart', 'Fnac', 'Dia','Walmart'],
                        'price':[11.42, 23.50, 19.99, 15.95, 55.75, 111.55],
                        'testscore': [4, 3, 5, 7, 5, 8]})
print(products)

# Use `pivot()` to pivot the DataFrame
pivot_products = products.pivot(index='category', columns='store', values='price')

# Check out the result
print(pivot_products)

        category   price    store  testscore
0       Cleaning   11.42  Walmart          4
1       Cleaning   23.50      Dia          3
2  Entertainment   19.99  Walmart          5
3  Entertainment   15.95     Fnac          7
4           Tech   55.75      Dia          5
5           Tech  111.55  Walmart          8
store            Dia   Fnac  Walmart
category
Cleaning       23.50    NaN    11.42
Entertainment    NaN  15.95    19.99
Tech           55.75    NaN   111.55

In [261]:
# Import the Pandas library
import pandas as pd

# Construct the DataFrame
products = pd.DataFrame({'category': ['Cleaning', 'Cleaning', 'Entertainment', 'Entertainment', 'Tech', 'Tech'],
                        'store': ['Walmart', 'Dia', 'Walmart', 'Fnac', 'Dia','Walmart'],
                        'price':[11.42, 23.50, 19.99, 15.95, 55.75, 111.55],
                        'testscore': [4, 3, 5, 7, 5, 8]})
print(products)
# Use `pivot()` to pivot your DataFrame
pivot_products = products.pivot(index='category', columns='store', values='price')

# Check out the results
print(pivot_products)

        category   price    store  testscore
0       Cleaning   11.42  Walmart          4
1       Cleaning   23.50      Dia          3
2  Entertainment   19.99  Walmart          5
3  Entertainment   15.95     Fnac          7
4           Tech   55.75      Dia          5
5           Tech  111.55  Walmart          8
store            Dia   Fnac  Walmart
category
Cleaning       23.50    NaN    11.42
Entertainment    NaN  15.95    19.99
Tech           55.75    NaN   111.55

In [259]:
# Import the Pandas library
import pandas as pd

# Your DataFrame
products = pd.DataFrame({'category': ['Cleaning', 'Cleaning', 'Entertainment', 'Entertainment', 'Tech', 'Tech'],
                        'store': ['Walmart', 'Dia', 'Walmart', 'Fnac', 'Dia','Dia'],
                        'price':[11.42, 23.50, 19.99, 15.95, 19.99, 111.55],
                        'testscore': [4, 3, 5, 7, 5, 8]})
print(products)
# Pivot your `products` DataFrame with `pivot_table()`
pivot_products = products.pivot_table(index='category', columns='store', values='price', aggfunc='mean')

# Check out the results
print(pivot_products)

        category   price    store  testscore
0       Cleaning   11.42  Walmart          4
1       Cleaning   23.50      Dia          3
2  Entertainment   19.99  Walmart          5
3  Entertainment   15.95     Fnac          7
4           Tech   19.99      Dia          5
5           Tech  111.55      Dia          8
store            Dia   Fnac  Walmart
category
Cleaning       23.50    NaN    11.42
Entertainment    NaN  15.95    19.99
Tech           65.77    NaN      NaN

In [269]:
from collections import OrderedDict
from pandas import DataFrame
import pandas as pd
import numpy as np

table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item1', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1$', '2$', '3$', '4$']),
    ('EU',   ['1€', '2€', '3€', '4€'])
))
d = DataFrame(table)
print(d)
p = d.pivot(index='Item', columns='CType', values='USD')
print(p)

    Item   CType USD  EU
0  Item0    Gold  1$  1€
1  Item0  Bronze  2$  2€
2  Item1    Gold  3$  3€
3  Item1  Silver  4$  4€
CType Bronze Gold Silver
Item
Item0     2$   1$   None
Item1   None   3$     4$

In [271]:
# The `people` DataFrame
people = pd.DataFrame({'FirstName' : ['John', 'Jane'],
                       'LastName' : ['Doe', 'Austen'],
                       'BloodType' : ['A-', 'B+'],
                       'Weight' : [90, 64]})
print(people)
# Use `melt()` on the `people` DataFrame
print(pd.melt(people, id_vars=['FirstName', 'LastName'], var_name='measurements'))

  BloodType FirstName LastName  Weight
0        A-      John      Doe      90
1        B+      Jane   Austen      64
  FirstName LastName measurements value
0      John      Doe    BloodType    A-
1      Jane   Austen    BloodType    B+
2      John      Doe       Weight    90
3      Jane   Austen       Weight    64

In [273]:
df = pd.DataFrame(data=np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['A', 'B', 'C'])
print(df)
for index, row in df.iterrows() :
    print(row['A'], row['B'])

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
(1, 2)
(4, 5)
(7, 8)

In [276]:
df.to_csv('myDataFrame.csv', sep=',')
writer = pd.ExcelWriter('myDataFrame.xlsx')
df.to_excel(writer, 'DataFrame')
writer.save()